<a href="https://colab.research.google.com/github/ustab/AORNEK_CALISMALAR-Veri_Bilimi/blob/main/Untitled112.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [36]:
data = {
"user_id": [251],
"first_name": ["Murat"],
"last_name": ["Fedai"],
"nick_name": "Kara Murat",
"summary": ["Fatih'in fedaisi."],
"birth_place": ["Çorum"],
"photo_url": ["/photos/7/000/253/05b/308dd6e.jpg"],
"served_years_places": [ [ {"year": 1461, "place": "Arnavutluk"},
                 {"year": 1464, "place": "Bosna Hersek"}]
],
"education": [ [ {"school_name": "Çorum Sıbyan Mektebi", "start": 1441, "end": 1445, "city": "Çorum"},
                 {"school_name": "Fatih Medresesi", "start": 1455, "end": 1457, "city": "İstanbul"} 
               ],
],
"contact_info": [ { "blog": "http://karamuratbenim.com", "twitter": "http://twitter.com/KaraMurat" }],
"horses": [ { "name": "Gelincik"}]
}

Birazdan bu dictionary yapısını pandas dataframe haline getireceğiz ancak ondan önce veri türlerini çıplak gözle bir inceleyelim:

user_id -> int           
first_name -> string     
last_name -> string 
nick_name -> string
summary -> string
birth_place -> string  
photo_url -> string
served_years_places -> list(her bir elemanı dictionary)
education -> list(her bir elemanı dictionary)
contact_info -> dictionary
horses -> string (dictionary gibi görünüyor ama dışarıdaki tek tırnaklar string yapıyor)
     
     Şimdi de pandas dataframe oluşturalım.

In [19]:
df = pd.DataFrame(data=data)
df.head()

,user_id,first_name,last_name,nick_name,summary,birth_place,photo_url,served_years_places,education,contact_info,horses
0,251,Murat,Fedai,Kara Murat,Fatih'in fedaisi.,Çorum,/photos/7/000/253/05b/308dd6e.jpg,"[{'year': 1461, 'place': 'Arnavutluk'}, {'year...","[{'school_name': 'Çorum Sıbyan Mektebi', 'star...","{'blog': 'http://karamuratbenim.com', 'twitter...","{ ""name"": ""Gelincik""}"

Şimdi diyelim ki ey pandas bize sen söyle veri türlerini. Bunun için yaygın iki yöntem var: df.dtypes ve df.info(). dtypes kullanalım.

In [20]:
#Komut:
df.dtypes

user_id                 int64
first_name             object
last_name              object
nick_name              object
summary                object
birth_place            object
photo_url              object
served_years_places    object
education              object
contact_info           object
horses                 object
dtype: object

Yukarıda gördüğümüz gibi her şeye object diyor. Peki ne var bu object’ler içinde? Nasıl öğrenebiliriz? Bir for döngüsü ile bu objelerin içindeki gerçek python veri tiplerini görebiliriz. Bu çıplak gözümüz ile yaptığımız incelemeye çok yakın olacaktır.

In [21]:
#Komut: 
for i in df.columns:
    print(df[i].apply(lambda x: type(x)).head(1))

0    <class 'int'>
Name: user_id, dtype: object
0    <class 'str'>
Name: first_name, dtype: object
0    <class 'str'>
Name: last_name, dtype: object
0    <class 'str'>
Name: nick_name, dtype: object
0    <class 'str'>
Name: summary, dtype: object
0    <class 'str'>
Name: birth_place, dtype: object
0    <class 'str'>
Name: photo_url, dtype: object
0    <class 'list'>
Name: served_years_places, dtype: object
0    <class 'list'>
Name: education, dtype: object
0    <class 'dict'>
Name: contact_info, dtype: object
0    <class 'str'>
Name: horses, dtype: object

Şimdi sadece bir farka değinip kapanış yapalım. dtypes, bize horses ve contact_info için object demişti (basit veri türlerinde object’i string olarak yorumlamaya eğilimliyizdir) ancak gerçekte contact_info’nun dictionary, horses’un ise string olduğunu öğrendik. Aslına bakarsanız horses da dictionary olmalı, ancak bir şekilde dışına tek tırnak gelmiş, o yüzden string. Onu da tek tırnaklardan kurtarıp gerçek hüviyetine kavuşturmalısınız. Diğer farklılıkların incelemesini sizlere bırakıyorum ve bitiriyorum.

In [22]:
import pandas as pd
import sqlalchemy

Mysql veri tabanında bir tablo yaratıp içine örnek kayıtlar girelim.

In [26]:
my_data=[(1416, "George Clooney", 1999.2546, '{"Database": 88, "Network": "A+"}'), 
                 (1417, "Brad Pitt", 2000.5001, '{"Database": 78, "Network": "B+"}'),
                 (1506, "Leonardo DiCaprio", 2100.5430, '{"Database": 98, "Network": "A+"}'),
                 (1527, "Shah Rukh Khan", 1988.9875, '{"Literature": 98, "Geography": "A+"}'),
                 (1525, "Geoffrey Rush", 1975.2506, '{"Economics": 78, "Monetary": "C+"}')]

In [40]:
trainee = {
"id": [1416],
"first_name": ["George Clooney"],
"salary": [1999.2546],
"notes": [[{"Database": 88, "Network": "A+"}]]
}

In [47]:
from sqlalchemy.types import *
df_schema = {
"id": Integer,    
"name": String(64),
"salary": DECIMAL(15,4),
"notes": JSON
}

In [ ]:
trainee.to_sql('trainee3', engine, index=False, if_exists='replace', dtype=df_schema)

In [ ]:
#Normal csv dosyası okumaktan hiçbir farkı yok.

import pandas as pd
df = pd.read_csv("/file/to/filename.zip")

In [50]:
import pandas as pd
my_dict = {'sno':[1,2],
           'aciklama': ['Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir.',
         'Lorem Ipsum']}
df = pd.DataFrame(my_dict)
df.head()

   sno                                           aciklama
0    1  Lorem Ipsum, dizgi ve baskı endüstrisinde kull...
1    2                                        Lorem Ipsum

In [51]:
#Sütun içini kırpmadan hepsini görmek istiyorsak aşağıdaki komutu çalıştırmalıyız:

pd.set_option('display.max_colwidth', None)

In [52]:
#Pandas dataframe tüm sütunları seç – göster (select all columns)
# Show all columns
pd.set_option("display.max_columns", None)

In [ ]:
#pandas dataframe sütunlarını mesaj olarak göndermek istediğimde karşıma çıktı. Epey uğraştım. Çözümü paylaşıyorum.

import pandas as pd
df = pd.read_csv("D:/Datasets/iris.csv")
# Her bir satırı sütunları virgülle ayrılmış şekilde bir listenin elemanları yapalım
x = df.to_string(header=False,
                  index=False,
                  index_names=False).split('\n')
vals = [','.join(ele.split()) for ele in x]
# Elde ettiğimiz listeyi dataframe'e value sütunü olarak takalım
df['value'] = vals
# Sonucu görelim
df.head()

In [ ]:
stopper = 0
interval = []
for index, line in runorwalk.iterrows():
    print(index, line)
    stopper += 1
    if stopper >= 2:
        break

Günlük İşlerinizi Kolaylaştıracak Pandas ve Numpy Fonksiyonları

In [ ]:
#1 – argpartition()
#Bu fonksiyon, bize N en büyük değerlerin indekslerini vermektedir. İhtiyaca göre bu indekslere sahip değerleri sıralayabiliriz.

x = np.array([1,9,5,8,7,13,4])
index_val = np.argpartition(x, -4)[-4:]
index_val
#--> array([4, 1, 5, 3])
np.sort(x[index_val])
#--> array([ 7,  8,  9, 13])

In [ ]:
#2 – allclose()
#Bu fonksiyon, 2 tane dizinin birbirine eşit ya da benzer olup olmadığını, belirlenen tolerans değeri ile kontrol etmektedir.

array1 = np.array([0.25,0.36,0.45,0.68,0.95])
array2 = np.array([0.26,0.35,0.44,0.70,0.93])
np.allclose(array1, array2, 0.1)
#--> True

In [ ]:
3 – clip()
Bu fonksiyon, bir dizideki değerleri belirlenen aralık içinde tutar. Aralığın dışındaki değerler, aralığın alt ve üst limitlerine kırpılır.

x = np.array([3,16,15,9,1,4,2,26,12,8])
np.clip(x,3,10)
#--> array([ 3, 10, 10,  9,  3,  4,  3, 10, 10,  8])
4 – extract()
Bu fonksiyon, bir diziden belli koşullara uyan değerlere ulaşılmasını sağlar.

# Rastgele sayı üret
array = np.random.randint(40, size=20)
array
#--> array([31,14,24,34,5,2,26,12,36,10,1,22,30,29,13,0,12,31,31,34])
# Sayıların 3'e bölümünden kalanı 1 olanları kontrol et
cond = np.mod(array, 3)==1
# Yukarıdaki koşula sahip olan değerleri çıkar
np.extract(cond, array)
#--> array([31, 34, 10,  1, 22, 13, 31, 31, 34])
5 – where()
Bu fonksiyon, bir diziden belli koşullara uyan değerlerin indeks değerlerini kullanıcıya döndürür.

y = np.array([5,9,7,12,25,16,10,19])
# Eğer koşul değeri True ise "Büyük", False ise "Küçük" yazdır
np.where(y>13, "Büyük", "Küçük")
#--> array(['Küçük','Küçük','Küçük','Küçük','Büyük','Büyük', 'Küçük','Büyük'], dtype='<U5')
Pandas
1 – read_csv(nrows=n)
Herkes read_csv() ile veri yüklüyor. Ancak gerekli olmadığı zamanlarda verinin hepsini yüklemek çok zahmetli olmaktadır. 10 GB boyutunda bir veriyi gerekli olmadığı halde yüklemeye çalışmak yerine sadece ilk 10 satırı yükleyip, daha sonra ihtiyaca göre devam edebiliriz.

import io
import requests
url = "http://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data"
s = requests.get(url).content
df = pd.read_csv(io.StringIO(s.decode("utf-8")),
                 nrows=10,
                 index_col=0)
df

2 – map()
Bu fonksiyon, başka bir fonksiyon yardımı ile bir serideki değerleri değiştirmeye yarar.

# Dataframe oluştur
df = pd.DataFrame(np.random.randn(5, 5),
                  columns=list("abcde"),
                  index=['Matematik', 'Geometri',
                         'Fizik', 'Kimya',
                         'Biyoloji'])

# Sayıların virgülden sonraki 2 basamağını alan fonksiyon
changefn = lambda x: '%.2f' % x
# Değişiklikleri "d" sütununa uygula
df['d'].map(changefn)

3 – apply()
Bu fonksiyon, kullanıcıya istediği bir fonksiyonu her bir değere uygulamasına izin verir.

# max - min
fn = lambda x: x.max() - x.min()
# Yukarıda oluşturduğumuz veriye, fonksiyonu satır bazında uygulayalım
df.apply(fn)

4 – isin()
Bu fonksiyon, belirli bir sütunda belirli bir değere sahip satırların seçilmesine yardımcı olur.


df['d'].isin([1])

5 – copy()
Bu fonksiyon, bir pandas objesinin kopyasını oluşturmaya yarar. Bir dataframe objesini başka bir objeye atadığımız zaman, orjinal objede yapılan değişiklikler diğer objeye de yansımaktadır. Bu problemi çözmek için copy() fonksiyonu kullanılır.

# Seriyi oluştur
data = pd.Series(['Finlandiya', 'Norveç', 'İsveç', 'Danimarka'])
# Seriyi kopyala
new = data.copy()
# Yeni değer ata
new[1] = 'Changed Value'
print(new)

print(data)

6 – select_dtypes()
Bu fonksiyon, dataframe içindeki istenilen veri tipindeki sütunları kullanıcıya döndürmektedir.

iris = pd.read_csv('data/iris.csv')
iris.info()

iris.select_dtypes(include="float64").head()

In [ ]:
#2 – map()
#Bu fonksiyon, başka bir fonksiyon yardımı ile bir serideki değerleri değiştirmeye yarar.

In [ ]:
# Dataframe oluştur
df = pd.DataFrame(np.random.randn(5, 5),
                  columns=list("abcde"),
                  index=['Matematik', 'Geometri',
                         'Fizik', 'Kimya',
                         'Biyoloji'])

# Sayıların virgülden sonraki 2 basamağını alan fonksiyon
changefn = lambda x: '%.2f' % x
# Değişiklikleri "d" sütununa uygula
df['d'].map(changefn)